/* news page labels */
.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 160px 60px 100px 60px;
    color: #424B54;
    background-color: #F7F7FF; 
}

.cover h1 {
    margin: 0;
    padding-bottom: 12px;
}

.cover p { margin: 0; }

/* standardize all social rows */
.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    overflow: hidden;
}

.social h2 { margin: 0; }
.social p { margin: 0; padding: 6px 0 24px 0;}

.social-text { padding: 0 5% 0 5%; }
.social-cover { width: 60%; }

/* custom color for each social row */
#steam { color: #66c0f4; background-color: #171A21; }
#twitter { color: #1DA1F2; background-color: #14171A; }
#discord { color: #7289DA; background-color: #23272A; }
#merch-store { color: #FDCA40; background-color: #FB6107; }

/* crewmate decoration positioning */
.red-crewmate {
    width: 10%;
    position: absolute;
    left: 45%;
    transform: translate(-10%, -50%);
}

.yellow-crewmate {
    width: 10%;
    position: absolute;
    right: 5%;
    transform: translate(-10%,-40%);
}

.white-crewmate {
    width: 10%;
    position: absolute;
    left: 30%;
    transform: translate(10%,-50%);
}

/* styling for visit social page button */
.visit-page {
    font-size: medium;
    border: none;
    padding: 12px;
    border-radius: 8px;
    color: #424B54;
    text-decoration: none;
    background-color: whitesmoke;
}

@media only screen and (max-width: 900px) { /* when in mobile view or window is within 900px */
    .cover {
        text-align: center;
        padding: 120px 24px 60px 24px; 
    }
    
    .red-crewmate {
        width: 15%;
        left: 35%;
        transform: translate(50%,-50%);
    }

    .social {
        display: flex;
        justify-content: center;
        height: 400px;
    }

    .social p {padding: 6px 0 12px 0;}

    .social-cover { display: none; }
    
    .social-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 20%;
    }

    .yellow-crewmate {
        position: absolute;
        width: 20%;
        transform: translate(-170%,-40%);
    }

    .white-crewmate {
        position: absolute;
        width: 15%;
        transform: translate(80%,-60%);
    }

    .visit-page {
        display: block;
        font-size: 12px;
        width: 150px;
    }
}