html { 
    font-family: 'Inter', sans-serif; 
    background-color: #FFFBFE;
}

/* map container */
.map {
    display: flex;
    flex-wrap: wrap;
    padding: 10% 5% 5% 5%;
}

/* map page title */
.map-title {
    display: flex;
    margin: 0;
    padding: 0;
    color: #CC444B;
    font-size: 100px;
}

/* map slideshow */
.slideshow {
    display: flex;
    align-items: center;
}

.slider {
    z-index: -1;
    width: 100%;
    height: 65%;
    overflow: hidden;
}

/* container for all slides */
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

/* individual slide */
.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

/* navigation bar for slideshow */
.navigation {
    display: flex;
    padding-bottom: 5%;
}

.bar {
    width: 40px;
    height: 5px;
    border: 1px solid grey;
    margin: 2px;
    cursor: pointer;
    transition: 0.3s;
}

/* highlight navigation bar when user hovers over */
.bar:hover{
    background-color: #CC444B;
    border: 1px solid #CC444B;
}

/* hide default radio button */
input[name="r"] {
    position: absolute;
    visibility: hidden;
}

/* switching maps on the navigation bar button */
#r1:checked ~ .s1 { margin-left: 0; }
#r2:checked ~ .s1 { margin-left: -20%; }
#r3:checked ~ .s1 { margin-left: -40%; }

/* map description section */
#map-description {
    height: 150px;
    flex-direction: column;
    max-width: 230px;
    color: #424B54;
}

/* related pages about game information */
.related-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 3% 4% 3%;
    background-color: #424B54;
}

.related-content h2 {
    color: #FFFBFE;
    font-size: 28px;
    padding-bottom: 14px;
}

.related-content a {
    padding: 12px 28px 12px 28px;
    margin: 8px;
    border-radius: 8px;
    color: #424B54;
    text-decoration: none;
    background-color: #FFFBFE;
}

@media only screen and (max-width: 800px) { /* when in mobile view or window is within 800px */
    .map {
        flex-direction: column;
        padding: 25% 10% 0 10%;
        text-align: center;
    }

    .map-title {
        justify-content: center;
        padding: 5%;
        font-size: 60px;
    }
    
    #map-description { max-width: none; }

    .slideshow { padding-bottom: 5%; }

    .slider {
        height: 40%;
        width: 100%;
    }
    
    .slides { align-items: center; }
    
    .navigation { justify-content: center; }

    .related-content { padding-bottom: 10%; }
}
