.cover { padding: 13em; }

.cover > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: large;
    color: white;
    text-shadow: 0 0 6px black;
}

.logo-text { padding: 2em; }

.cover > video {
    object-fit: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(30%);
}

.about {
    display: flex;
    justify-content: space-between;
    background-color: #FFFBFE;
    padding: 6em;
}

.about > article {
    font-size: x-large;
    color: #424B54;
    max-width: 50%;
}

.game-info {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #dad8d8;
    color: #424B54;
}

.game-info > .crewmate {
    width: 20%;
    height: 20%;
    margin-top: -4%;
    margin-bottom: 4%;
}

.news {
    display: flex;
    justify-content: space-between;
    height: 16em;
    align-items: center;
    font-size: x-large;
    color: #FFFBFE;
    background-color: #6f98ec;
    overflow: hidden;
}

.news > article {
    padding-left: 4em;
}

.view-page {
    font-size: medium;
    background-color: white;
    padding: 14px;
    width: 180px;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    color: #424B54;
}
