html { 
    font-family: 'Inter', sans-serif; 
    background-color: #FFFBFE;
}

header {
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
    position: fixed;
    z-index: 1;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    width: 160px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    color: white;
}

ul li a:hover { color: #CC444B; }

ul li ul {
    flex-direction: column;
    background-color: #111111;
    display: none;
}

ul li:hover ul { display: flex; }

.get-it {
    margin: 1em;
    padding: 14px;
    text-decoration: none;
    border: none;
    border-radius: 12px;
    width: 180px;
    color: white;
    background-color: #CC444B;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:grey;
    background-color: #111111;
    padding: 4em;
}

footer > p {
    margin: 24px;
}

.email {
    padding-bottom: 2em;
}

.email > input {
    width: 360px;
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.email > button {
    margin-left: 6px;
    padding: 8px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #2e2e2e;
}

.contacts {
    color:white;
    text-decoration: none;
    padding: 0 2em 0 2em;
}

.policy {
    font-size: small;
    color: white;
    text-decoration: none;
    padding: 0 2em 0 2em;
}